<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <a href="/portafolio"><img src="/img/Banner Jonhy.jpg" alt="" class="banner" title="Ver Portafolio"></a>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/educacion">Estudios</a></li>
            <li><a href="/contactos">Contacto</a></li>
        </ul>
    </nav>

    <div class="estudios">

        <div class="estudio">
            <h3>Ingeniería en Sistemas de la Información y Ciencias de la Computación</h3>
            <a href="https://umg.edu.gt/ingenieria/sistemas" target="_blank"><img src="/img/Logo UMG.png" alt="umg"
                    title="Ver carrera en UMG" class="imagen-estudio"></a>
            <p class="descripcion-estudio">
                Actualmente, cursando el octavo semestre de Ingeniería en Sistemas de la Información y Ciencias de la
                Computación, en la Universidad Mariano Gálvez de Guatemala.
            </p>
        </div>
        <div class="estudio">
            <h3>Curso SQL Server</h3>
            <a href="https://www.udemy.com/course/master-sql-server/" target="_blank"><img src="/img/curso sql.png"
                    alt=".SQL Server" title="Ver curso en Udemy" class="imagen-estudio"></a>
            <p class="descripcion-estudio">
                Curso en línea, en la plataforma de Udemy. Bases de Datos, Consultas, Funciones, Tablas y Permisos.
                Diseño y Programación de Base de Datos Relacional SQL. <strong>50% de progreso.</strong>
            </p>
        </div>
        <div class="estudio">
            <h3>Curso Desarrollo Web</h3>
            <a href="https://www.udemy.com/course/fundamentos-de-programacion-con-javascript/" target="_blank"><img
                    src="/img/curso dw.png" alt="Desarrollo Web" title="Ver curso en Udemy" class="imagen-estudio"></a>
            <p class="descripcion-estudio">
                Curso en línea, en la plataforma de Udemy. Aprendizaje de los principales lenguajes que dominan
                internet: JavaScript, HTML5 y CSS3. <strong>20% de progreso.</strong>
            </p>
        </div>
        <div class="estudio">
            <h3>Curso Mikrotik</h3>
            <a href="https://www.udemy.com/course/mikrotik-de-principiante-a-experto/" target="_blank"><img
                    src="/img/curso mk.png" alt="SQL Server" title="Ver curso en Udemy" class="imagen-estudio"></a>
            <p class="descripcion-estudio">
                Curso en línea, en la plataforma de Udemy. Configuración y aprendizaje de las diferentes funcionalidades
                de los routers Mikrotik. <strong>50% de progreso.</strong>
            </p>
        </div>
    </div>


</body>

</html>