<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <a href="/portafolio"><img src="/img/Banner Jonhy.jpg" alt="" class="banner" title="Ver Portafolio"></a>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/educacion">Estudios</a></li>
            <li><a href="/contactos">Contacto</a></li>
        </ul>
    </nav>

    <div class="habilidades">
        <div class="habilidad">

            <img src="/img/html-5.png" alt="html-5" class="icono-habilidad">
            <p class="p-h">
                HTML5 es la quinta versión del Lenguaje de Marcado de Hipertexto, utilizado para estructurar y presentar
                contenido en la web. Introduce nuevas etiquetas semánticas, soporte nativo para multimedia, gráficos y
                almacenamiento local, así como mejoras en la creación de formularios y aplicaciones web. HTML5 facilita
                el desarrollo de sitios y aplicaciones más interactivos, accesibles y compatibles con diversos
                dispositivos y navegadores.
            </p>
        </div>
        <div class="habilidad">

            <img src="/img/css-3.png" alt="css3" class="icono-habilidad">
            <p class="p-h">
                CSS3 es la tercera versión de las Hojas de Estilo en Cascada, utilizada para diseñar y controlar la
                apariencia visual de páginas web. Introduce nuevas propiedades, selectores, y capacidades como bordes
                redondeados, sombras, transiciones y animaciones, así como diseño responsive que se adapta a diferentes
                dispositivos. CSS3 permite crear interfaces web más atractivas, dinámicas y adaptables a la web moderna.
            </p>
        </div>
        <div class="habilidad">

            <img src="/img/de.png" alt="devexpress" class="icono-habilidad">
            <p class="p-h">
                DevExpress Reporting, proporciona un conjunto de herramientas y componentes para crear, diseñar, visualizar,
                y gestionar reportes dentro de aplicaciones desarrolladas en .NET. Permite generar reportes complejos
                que presentan datos de una manera clara y estructurada, con funcionalidades avanzadas de diseño y
                exportación.
            </p>
        </div>
        <div class="habilidad">

            <img src="/img/Cs.png" alt="C#" class="icono-habilidad">
            <p class="p-h">
                C# es un lenguaje de programación moderno y orientado a objetos, desarrollado por Microsoft como parte
                de la plataforma .NET. Es similar a C++ y Java, es fuertemente tipado, y está diseñado para ser seguro y
                eficiente. Originalmente para Windows, ahora es multiplataforma gracias a .NET Core y .NET 5. C# se
                utiliza para desarrollar una amplia variedad de aplicaciones, incluyendo de escritorio, web, y juegos
                (especialmente con Unity).
            </p>
        </div>
        <div class="habilidad">

            <img src="/img/c++.png" alt="C++" class="icono-habilidad">
            <p class="p-h">
                C++ es un lenguaje de programación de propósito general creado en 1983 como una extensión de C. Es
                orientado a objetos, eficiente y permite un control detallado sobre los recursos del sistema. Es
                multiplataforma, compatible con C, y se usa en aplicaciones que requieren alto rendimiento, como
                videojuegos y sistemas embebidos.
            </p>
        </div>
        <div class="habilidad">

            <img src="/img/sqlserver.png" alt="SQL Server" class="icono-habilidad">
            <p class="p-h">
                SQL Server es un sistema de gestión de bases de datos desarrollado por Microsoft. Utiliza SQL para
                gestionar y consultar datos, ofrece seguridad avanzada, soporte para transacciones, y herramientas de
                administración. Es ideal para aplicaciones empresariales por su robustez, escalabilidad y alta
                disponibilidad.
            </p>
        </div>
    </div>


</body>

</html>