<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>

    <a href="/portafolio"><img src="img/Banner Jonhy.jpg" alt="" class="banner" title="Ver Portafolio"></a>

    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/educacion">Estudios</a></li>
            <li><a href="/contactos">Contacto</a></li>
        </ul>
    </nav>
        <div class="separador2">
            <div class="separador">
                <h1 class="h1-i">Johny David Chiroy</h1>

                <h2>Estudiante de Ingeniería en Sistemas de Información y Ciencias de la Computación</h2>

                <p class="p-i">Me dedico a aprender sobre el diseño, desarrollo y mantenimiento de sistemas
                    informáticos.
                    Adquiero conocimientos en programación, bases de datos, redes, y otras áreas relacionadas con la
                    tecnología y la computación. Mi objetivo es resolver problemas mediante la creación y optimización
                    de
                    software y hardware.
                <p class="p-i">Exploro nuevas tecnologías y participo en proyectos de software. También me
                    gusta aprender sobre bases de datos; así como estar al tanto de las últimas tendencias en
                    tecnología. Además, experimentar con diferentes lenguajes de programación y plataformas.
            </div>
            <div class="cuadro-foto">
                <img src="img/Johny David Chiroy Guarcax.png" alt="" class="foto">
            </div>
        </div> 
</body>

</html>