<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <a href="/portafolio"><img src="/img/Banner Jonhy.jpg" alt="" class="banner" title="Ver Portafolio"></a>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/educacion">Estudios</a></li>
            <li><a href="/contactos">Contacto</a></li>
        </ul>
    </nav>

    <div class="proyectos">
        <div class="proyecto">
            <p><strong>MRU y MRUV</strong></p>
            <a href="/pro1"><img
                    src="/img/ProyectoMRUMRUV.png" alt="p-MRU-MRUV" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>

        <div class="proyecto">
            <p><strong>Jubilación IPM</strong></p>
            <a href="/pro2"  ><img
                    src="/img/proJubilacionIPM.png" alt="p-Jubilacion" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>

        <div class="proyecto">
            <p><strong>Etica Profesional</strong></p>
            <a href="/pro3"  ><img src="/img/proetica.png"
                    alt="p-EticaProfesional" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>

        <div class="proyecto">
            <p><strong>Tienda Gestion</strong></p>
            <a href="/pro4"  ><img src="/img/p-tiendagestion.png"
                    alt="p-tiendagestion" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>

        <div class="proyecto">
            <p><strong>Analizador Léxico</strong></p>
            <a href="/pro5"  ><img
                    src="/img/p-analizadorlexico.png" alt="p-analizadorlexico" class="icono-proyecto"
                    title="Ver en GitHub"></a>
        </div>

        <div class="proyecto">
            <p><strong>Probabilidad Estadística</strong></p>
            <a href="/pro6"  ><img
                    src="/img/p-prbestadistica.png" alt="p-prbestadistica" class="icono-proyecto"
                    title="Ver en GitHub"></a>
        </div>
        <div class="proyecto">
            <p><strong>Docket Control Órdenes</strong></p>
            <a href="/pro7"  ><img
                    src="/img/p-docket.png" alt="p-docket" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>
        <div class="proyecto">
            <p><strong>Calculadora</strong></p>
            <a href="/pro8"  ><img src="/img/p-calculadora.png"
                    alt="p-calculadora" class="icono-proyecto" title="Ver en GitHub"></a>
        </div>
    </div>

</body>

</html>