<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalizadorLéxico</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>

    <a href="/portafolio"><img src="img/Banner Jonhy.jpg" alt="" class="banner" title="Ver Portafolio"></a>

    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/educacion">Estudios</a></li>
            <li><a href="/contactos">Contacto</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Analizador Léxico</h2>

        <div class="section">
            <h3>Información del Vendedor</h3>
            <p><strong>Nombre completo:</strong> Johny David Chiroy Guarcax </p>
            <p><strong>Correo electrónico:</strong> johnychiroy@andromeda.com</p>
            <p><strong>Número de teléfono:</strong> +502 54195742</p>
        </div>

        <div class="section">
            <h3>Detalles de la Página Web</h3>
            <div class="proyecto">
                <p><strong>Haz clic para ver el proyecto</strong></p>
                <a href="https://github.com/JohnyChiroy/Proyecto-Analizador-L-xico"><img
                        src="/img/p-analizadorlexico.png" alt="p-analizadorlexico" class="icono-proyecto"
                        title="Ver en GitHub"></a>
                <p class="p-p"><strong>Descripción:</strong> Proyecto de escritorio, realiza el análisis léxico,
                    semántico y sintáctico de una cadena de datos y determina si estos son válidos.</p>
                <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C#</p>
                <p class="p-p"><strong>Costo de la página web:</strong> Q1,200 quetzales</p>
                <p class="p-p"><strong>Método de pago aceptado:</strong> PayPal</p>
            </div>
        </div>

    </div>

</body>

</html>